<%= render 'public/list' %>
<div class="container">
  <div class="row">
    <h3 class="col-5 mx-auto my-5">
      <div class="d-flex justify-content-center">
        <strong>本当に退会しますか？</strong>
      </div>
    </h3>
  </div>

  <div class="row">
    <div class="mx-auto d-flex justify-content-center">
      <h5>
        退会すると、会員登録情報や</br>
        これまでの購入履歴が閲覧できなくなります。</br>
        退会する場合は、『退会する』をクリックしてください。
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="mx-auto">
        <%= link_to "退会しない", customers_my_page_path(current_customer) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="mx-auto">
        <%= link_to "退会する", withdraw_public_customers_path, method: :patch, data: { confilm: "本当に退会しますか？" } %>
      </div>
    </div>
  </div>
</div>