<%= render 'public/list' %>

<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <h1>About</h1>
      ながのCAKEは全国発送可能なケーキ屋さんです。</br>
      お子さんからお年寄りの方までお召しあがりいただけるよう、</br>
      様々なバリエーションを用意しております。</br>
      また、全国へ発送可能ですので、『いつ』でも『どこ』でもご注文いただけます。</br>
      ぜひご注文ください。
    </div>
  </div>
  <div class="row">
    <div class="mx-auto mt-3">
      画像
    </div>
  </div>