<%= render 'public/list' %>
    <main>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            ようこそ、ながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員ではない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。
          </div>
        </div>

        <div class="row">
        <div class="mt-5 mx-5">
          <div class="col-3"></div>
          <h3>新着商品</h3>
        </div>
        </div>
        <div class="row">
          <div class="col-3">
            aaa
          </div>
          <div class="col-3">
            bbb
          </div>
          <div class="col-3">
            ccc
          </div>
          <div class="col-3">
            ddd
          </div>
        </div>
      </div>
    </main>
</body>
