<%= render 'admin/list' %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h4>注文履歴一覧</h4>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
      </tr>
    </thead>
    <% @cart_items.each do |cart_item| %>
    <tbody>
      <th><%= link_to cart_item.created_at, admin_order_path(cart_item.id) %></th>
      <th><%= cart_item.customer.full_name %></th>
      <th><%= cart_item.amount %></th>
    </tbody>
      <% end %>
  </table>
</div>
